@tailwind base;
@tailwind components;
@tailwind utilities;

.topbar-active{
    @apply text-upbg-dark font-bold;
}

.error{
    @apply text-red-600 text-sm mt-2 font-medium;
}

.input-number{
    @apply [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none
}

[x-cloak] { display: none !important; }

.scrollbar{
    scrollbar-gutter: stable;
}
 
.scrollbar::-webkit-scrollbar {
    width: 10px;
}
  
.scrollbar::-webkit-scrollbar-track {
    @apply bg-white;
}
   
.scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-md;
}
  
.scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
}

.button-hadir, .button-alfa{
    @apply border rounded-full size-9 hover:bg-gray-100 bg-white;
}

.button-hadir.active{
    @apply border-green-600 bg-green-600 text-white font-semibold;
}

.button-alfa.active{
    @apply border-red-600 bg-red-600 text-white font-semibold;
}

.detail-kelas-navlink.active{
    @apply text-upbg-dark font-bold;
}

.button-style{
    @apply px-4 py-1.5 rounded-sm-md border font-medium transition text-xs md:text-sm;
}

.button-loading {
    @apply flex flex-row justify-center items-center bg-white cursor-progress;
}

.delete-presensi-container{
    @apply hidden;
}

.delete-presensi-container.open{
    @apply flex;
}

.input-style{
    @apply border bg-gray-200 font-medium px-3 py-2 outline outline-transparent outline-1.5 outline-offset-0 transition-all focus:outline-upbg-light rounded-md read-only:outline-none read-only:focus:outline-none;
}